.container {
  display: block;
  margin: 0 auto;
  position: relative;
  top: 100px;
  left: 0px;
  right: 100px;
  max-width: auto;
}

.weatherapp {
  border: 1px solid grey;
  padding: 15px;
  margin: 20px auto;
  max-width: 800px;
  border-radius: 10px;
  background: #295f4e;
}

h1 {
  color: #f4e5c2;
  padding: 0 auto;
  margin: 0 auto;
  font-family: "Merriweather", serif;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-align: left;
}

.today {
  margin: 0 auto;
  color: #f4e5c2;
  font-family: "Merriweather", serif;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  line-height: 0px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  padding: 0 auto;
  border-radius: 10px;
}

.first {
  color: #f4e5c2;
  font-family: "Merriweather", serif;
  text-align: center;
  display: block;
  font-size: 30px;
}

.conversion {
  font-size: 15px;
  color: #f4e5c2;
  font-family: "Merriweather", serif;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  padding: 0 auto;
  border-radius: 10px;
}

.second {
  color: #f4e5c2;
  font-family: "Merriweather", serif;
  text-align: center;
  display: block;
  font-size: 15px;
  line-height: 30px;
}

.third {
  color: #f4e5c2;
  font-family: "Merriweather", serif;
  text-align: center;
  display: block;
  font-size: 15px;
  line-height: 30px;
}

.fourth {
  color: #f4e5c2;
  font-family: "Merriweather", serif;
  text-align: center;
  display: block;
  font-size: 15px;
  line-height: 30px;
}

.fifth {
  color: #f4e5c2;
  font-family: "Merriweather", serif;
  text-align: center;
  display: block;
  font-size: 15px;
  line-height: 30px;
}

.mb-3 {
  font-family: "Merriweather", serif;
}

.btn-primary {
  background: #6db193;
  border-color: #295f4e;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

.btn-primary:hover {
  background: #f4e5c2;
  color: #295f4e;
  border-color: #f4e5c2;
}

.fahrenheit-link {
  color: #f4e5c2;
}

.celcius-link {
  color: #f4e5c2;
}

.aspects {
  color: #f4e5c2;
  font-family: "Merriweather", serif;
  font-size: 12px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  padding: 0 auto;
  border-radius: 10px;
}

.current-location-button {
  text-align: center;
  padding: 0 auto;
  margin: 0 auto;
  line-height: 15px;
  border-radius: 10px;
  font-family: "Merriweather", serif;
  background: #6db193;
  border-color: #295f4e;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  font-size: 10px;
}

.name {
  color: #ff6584;
  font-family: "Merriweather", serif;
  display: inline-block;
  text-align: center;
  padding: 200px;
}
